/* Reiniciar un navegadr pra evitar diferencias de estilos predeterminados */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Estilos básicos para el cuerpo de la pagina */

body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #e2c3c3;
    color: #000000;
}

/* estilo pra el encabezado con degradado*/

.site-header{
    background: linear-gradient(90deg, #5a0d24, #6e2556);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.subtitle{
    opacity: 100;
}

.content{
    display: flex; /*coloca una tarjeta al lado de la otra*/
    gap: 3rem;
    flex-wrap: wrap; /* permite que las targetas bajen si no caben*/
    justify-content: center;
    padding: 2rem;
    background: #5a0d24;
}

.card{
    background: #6e2556;
    padding: 1rem;
    border-radius: 22px; /*coloca los bordes redondos*/
    box-shadow: 0.6px 18px rgb(rgba(19, 175, 214, 0.705)) ; /* coloca la sombra*/
    width: 300px; /*mantiene el tamaño de la etiqueta card*/
}
.card h2{
    margin-bottom: 0.5rem;
    color: rgb(52, 85, 81);
}

.card P{
    margin-bottom: 1rem ;
    color: brown;
}

.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: cadetblue;
    border-radius: 8px;
    color: #000;
    justify-content: center;
}

.card a{
    justify-content: center;
    display: flex;
    text-align: center;
}

.site-footer{
    text-align: center;
    padding: 1rem;
    color: aliceblue;
}